@{
    ViewData["Title"] = "Home";
}

<h1>Xin chào các bạn</h1>

<p>
    Đây là trang chính. Nhấp chuột vào link để xem danh sách.
</p>

<p>
    <a asp-controller="Books" asp-action="Index" class="btn btn-primary">Danh sách sách</a>
</p>

<p>
    <a asp-controller="Authors" asp-action="Index" class="btn btn-primary">Danh sách tác giả</a>
</p>